version: "2"
services:
  python-service-app_snapshot:
    image: registry.gitlab.com/mehdihadji/python_service:{{img_version}}
    container_name: python-service-app_snapshot
    restart: always
    networks:
      - python-service-app_snapshot


networks:
  python-service-app_snapshot: