version: "2"
services:
  python-service-app:
    image: registry.gitlab.com/mehdihadji/hello-python:{{img_version}}
    container_name: python-service-app
    restart: always
    networks:
      - python-service-app


networks:
  python-service-app: